version: '3.8'
services:
  db:
    image: postgres:15
    container_name: noctuna_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: noctuna_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: