<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/cadastro.css">

  <script src="/js/cadastro.js" defer></script>
</head>
<body>

<div class="form-container">
  <h2>Crie sua conta</h2>

  <form id="formCadastro">
    <label for="nome">Nome completo</label>
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>

    <label for="confirmar">Confirmar senha</label>
    <input type="password" id="confirmar" placeholder="Confirmar senha" required>

    <label for="Nascimento">Digite sua data de nascimento</label>
    <input type="date" id="Nascimento" name="Nascimento" required>

    <button type="submit">Cadastrar</button>
  </form>
</div>

<p class="termos">
  Ao se cadastrar, você concorda com os nossos <a href="termos">Termos de Uso</a>.
</p>
</body>
</html>