<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="cadastro.css">
</head>
<body>
<script>

  function logar(){
    let domain = "http://localhost:8080"

    //Exemplo utilizando QueryParam
    let path = "/logar?login="+document.getElementById("emailInput").value+"&senha="+document.getElementById("senhaInput").value;
    let url = domain + path;
    fetch(url);

    //Exemplo utilizando PathParam
    path = "/logar/"+document.getElementById("emailInput").value+"/"+document.getElementById("senhaInput").value;
    url = domain + path;
    fetch(url);

    //Exemplo utilizando Post e Body
    path = "/logar";
    url = domain + path;
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email: document.getElementById("emailInput").value,
        senha: document.getElementById("senhaInput").value,
      }),
    });
  }

</script>
<div class="form-container">
  <h2>Crie sua conta</h2>
  <form action="../../../../../tiii-pw3/tiii-pw3/src/main/resources/templates/Login.html" method="post">
    <label for="nome">Nome completo</label>
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>

    <label for="senha">Confirmar senha</label>
    <input type="password" id="confirmar" name="senha" placeholder="Confirmar senha" required>

    <label for="Nascimento">Digite sua data de nascimento</label>
    <input type="date" id="Nascimento" name="Nascimento" placeholder="Data de nascimento" required>

    <button type="submit">Cadastrar</button>
  </form>
</div>

<p class="termos">
  <a href="../../../../../tiii-pw3/tiii-pw3/src/main/resources/templates/termos.html"> Ao se cadastrar, você concorda com os nossos <a href="../../../../../tiii-pw3/src/main/resources/templates/Termos/termos.html">Termos de Uso</a>.</a>
</body>
</html>
