<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Favoritas | Noctuna</title>
  <link rel="stylesheet" href="/css/inicio.css">
  <link rel="stylesheet" href="/css/favoritos.css">
</head>
<body>
  {#include navbar/}
<main>
  <h1>SUAS MÚSICAS FAVORITAS</h1>
  <div class="music-grid" id="listaFavoritos"></div>
</main>

<footer>
  <p>&copy; 2025 Noctuna Music - Todos os direitos reservados.</p>
</footer>

<script src="/js/favorito.js"></script>

</body>
</html>