<header>
    <a href="/inicio" class="logo">Noctuna</a>

    <nav>
        <a href="/inicio">Início</a>
        <a href="/favoritos">Favoritas</a>
        <a href="/criador">Criador</a>
        <a href="/playlists">Playlists</a>
        <div class="perfil-container">
            <div class="perfil" id="perfil">U</div>
            <div class="menu-perfil" id="menuPerfil">
                <a href="/minhaconta">Minha Conta</a>
                <a href="/logout">Sair</a>
            </div>
        </div>
    </nav>
</header>