<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Noites Urbanas | Noctuna</title>
  <link rel="stylesheet" href="/css/playlist.css">
</head>
<body>

<header>
  <div class="logo">🎧 Noctuna</div>
  <nav>
    <a href="../../../../../../../../../../Projeto/untitled/untitled/Noctuna/Inicio/inicio.html">Início</a>
    <a href="playlists.html">Playlists</a>
    <a href="#">Favoritos</a>
  </nav>
</header>

<div class="playlist-header">
  <div class="playlist-info">
    <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/artist/487N2T9nIPEHrlTZLL3SQs?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  </div>
</div>
</main>

<footer>
  &copy; 2025 Noctuna Music — Playlist "Noites Urbanas".
</footer>

</body>
</html>
